.card__button_type_motivation {
  grid-area: cardButton;
  margin: 0;
  width: fit-content;
  @media screen and (max-width: 1439px) {
    margin-top: 20px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 16px;
  }
}