@import "../../root.scss";

.card_type_directions {
  @include grid;
  gap: 100px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(min-content, max-content);

  @media screen and (max-width: 1439px) {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__title {
    @extend %mainTitleH3;
    @extend %zeroSpaces;
  }

  &__subtitle {
    @extend %mainTextStyle;
    padding: $marginCardTitleText 0 0;
    @media screen and (max-width: 1439px) {
      padding-top: $marginCardTitleTextTablet;
    }
  }

  &__button {
    align-self: flex-end;
    justify-self: start;
  }
}