@import "../../projects/projects.scss";
@import "../__image/_type/card__image_type_projects.scss";
@import "../__text-container/_type/card__text-container_type_projects.scss";
@import "../__presentation/card__presentation.scss";
@import "../__button/_type/card__button_type_projects.scss";

.card_type_project {
  display: grid;
  column-gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
  grid-template-rows: 42px repeat(2, minmax(min-content, max-content));
  grid-template-areas:
    "textPresentation projectImage"
    "textContainer projectImage"
    "observe projectImage";

  &__disabled {
    display: none;
    visibility: hidden;
  }

  @media screen and (max-width: 1439px) {
    grid-template-rows: 22px repeat(2, minmax(min-content, max-content));
    gap: 10px 30px;
  }

  @media screen and (max-width: 767px) {
    grid-template-areas:
      "textPresentation"
      "projectImage"
      "textContainer"
      "observe";
    grid-template-rows: 22px repeat(2, minmax(min-content, max-content)) 1fr;
    gap: 20px;
  }
}