@import "../../projects/projects.scss";
@import "../../root.scss";

.card_type_project {
  display: grid;
  background-color: $lightBlue;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  grid-template-rows: minmax(min-content, max-content);
  grid-template-areas: 
  "textPresentation projectImage"
  "textContainer projectImage"
  "observe projectImage";
  &__disabled {
    display: none;
    visibility: hidden;
  }
  @media screen and (max-width: 1439px) {
    gap: 10px 30px;
  }
  @media screen and (max-width: 767px) {
    grid-template-areas: 
    "textPresentation"
    "projectImage"
    "textContainer"
    "observe";
    gap: 30px;
  }
}