@import "../../root.scss";

%backgoundIcon {
  background: {
    repeat: no-repeat;
    position: center;
    size: 32px 32px;
  }
  @media screen and (max-width: 1439px) {
    background-size: 24px 24px;
  }
}

.card_type_works {
  @include grid;
  gap: 40px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  background-color: $backgroundColor;

  &__icon {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    @media screen and (max-width: 1439px) {
      width: 48px;
      height: 48px;
    }
    &_driver {
      background-image: url("../icons/card/blue-driver.svg");
      @extend %backgoundIcon;
    }
    &_suitcase {
      background-image: url("../icons/card/orange-suitcase.svg");
      @extend %backgoundIcon;
    }
    &_lover {
      background-image: url("../icons/card/green-lover.svg");
      @extend %backgoundIcon;
    }
  }
  &__title {
    @include raleway;

    font: {
      weight: $bold;
      size: 34px;
    }

    @media screen and (max-width: 1439px) {
      font-size: 26px;
    }

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
    @extend %zeroSpaces;
  }

  &__subtitle {
    @extend %mainTextStyle;
    padding: $marginCardTitleText 0 0;
    @media screen and (max-width: 1439px) {
      padding-top: $marginCardTitleTextTablet;
    }
  }

  &__button {
    align-self: flex-end;
    justify-self: start;
  }

  @media screen and (max-width: 1439px) {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}