.card_type_description {
  @extend %zeroSpaces;
  @include flex(row, center, flex-start);
  gap: 20px;

  @media screen and (max-width: 767px) {
    @include flex(column, flex-start, flex-start);
    justify-self: center;
    padding: 0;
  }
}
