.card_type_directions {
  @include grid;
  gap: 88px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: minmax(min-content, max-content);

  @media screen and (max-width: 1439px) {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}