.card__subtitle_type_motivation {
  @extend %mainParagraphStyle;
  grid-area: subtitleLong;
  margin: 0;
  @media screen and (max-width: 1439px) {
    margin-top: 20px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 16px;
  }
}