// UI Kit -- Общие свойства кнопок
@import "../root";

$uikit-btn-desktop-heigth: 48px;
$uikit-btn-desktop-font-size: 20px;
$uikit-btn-mobile-heigth: 44px;   // для таблетной версии используются мобильные кнопки
$uikit-btn-mobile-font-size: 14px;

.button {
  font-family: $fontFamily;
  font-style: normal;
  font-feature-settings: 'pnum' on, 'lnum' on;
  font-weight: $medium;
  line-height: 120%;
  font-size: $uikit-btn-desktop-font-size;
  box-sizing: border-box;
  cursor: pointer;
  &:disabled, &.button_disabled {
    cursor: unset;
  }
}

@media screen and (max-width: 1439px) {
  .button {
    font-size: $uikit-btn-mobile-font-size;
  }
}

@mixin arrow($color) {
  background-image: url('data:image/svg+xml;utf8,<svg fill="#{$color}" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"> <path d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z"/></svg>');
}




