// UI Kit -- Общие свойства кнопок
@import "../root";

$uikitBtnDesktopHeigth: 48px;
$uikitBtnMobileHeigth: 44px;   // для таблетной версии используются мобильные кнопки

.button {
  @extend %buttonTextStyle;
  font-feature-settings: 'pnum' on, 'lnum' on;
  box-sizing: border-box;
  cursor: pointer;
  &:disabled, &.button_disabled {
    cursor: unset;
  }
}

@mixin arrow($color) {
  background-image: url('data:image/svg+xml;utf8,<svg fill="#{$color}" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"> <path d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z"/></svg>');
}