.page {
  box-sizing: border-box;
  width: 100%;
  font-family: 'Raleway', 'Arial', sans-serif;
  color: #333;
  background-color: #fff;
  display: grid;
  justify-content: center;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}