.page {
  box-sizing: border-box;
  width: 100%;
  font-family: $fontFamily;
  color: $fontColor;
  background-color: $backgroundColor;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
