@import "../root.scss";

.cards-container {
  @include grid;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: $marginTitleContent;
  list-style-type: none;

  @media screen and (max-width: 1439px) {
    padding-top: $marginTitleContentTablet;
  }

  @media screen and (max-width: 767px) {
    padding-top: $marginTitleContentMobile;
  }

  &_type_works {
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 1439px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (max-width: 900px) {
      max-width: 450px;
    }

    @media screen and (max-width: 767px) {
      max-width: unset;
    }
  }

  &_type_directions {
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 1439px) {
      grid-template-columns: repeat(2, 1fr);
      max-width: unset;
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &_type_news {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / span 6;
    grid-row: 2 / span 1;

    @media screen and (max-width: 1439px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &_type_histories {
    grid-area: cardsContainerHistories;
    @include flex(column, center, center);
    gap: 0;
  }

  &_type_about-person {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: cardsContainerAboutPerson;
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

