@import "../root.scss";

.cards-container {
  max-width: 1440px;
  @include grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 0;
  margin: 50px 0 0;
  @media screen and (max-width: 1439px) {
    margin-top: 32px;
    grid-template-columns: repeat(1, 1fr);
    max-width: 450px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 24px;
    max-width: none;
  }
  &_type_directions {
    @media screen and (max-width: 1439px) {
      grid-template-columns: repeat(2, 1fr);
      max-width: none;
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}