.card__image_type_presentation {
  width: 440px;
  height: 460px;
  border-radius: 30px;
  box-sizing: border-box;
  display: block;
  object-fit: cover;

  @media screen and (max-width: 1439px) {
    width: 334px;
    height: 334px;
    border-radius: 20px;
  }

  @media screen and (max-width: 767px) {
    width: 300px;
    height: 300px;
  }
}
