.card__image_type_presentation {
  max-width: 440px;
  max-height: 460px;
  border-radius: 30px;
  box-sizing: border-box;
  display: block;

  @media screen and (max-width: 1439px) {
    min-width: 334px;
    max-height: 334px;
    border-radius: 20px;
  }

  @media screen and (max-width: 767px) {
    min-width: 300px;
    max-height: 300px;
  }
}
