.accordion {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  width: 670px;
  box-sizing: border-box;
  padding: 26px 20px;
  border: 2px solid $borderColor;
  border-radius: $borderRadius;
  align-self: self-start;
  overflow: hidden;
  transition: padding .5s;

  @media screen and (max-width: 1439px) {
    width: 100%;
    border-radius: 20px;
    padding: 16px;
  }
  @media screen and (max-width: 767px) {
    padding: 17px 20px 17px 16px;
    border-radius: 15px;
  }

  &__title {
    @extend %zeroSpaces;
    @extend %mainTitleH3;
    line-height: 1.2;
    @media screen and (max-width: 767px) {
      width: 200px;
    }
  }

  &__text {
    margin: 0;
    @extend %mainTextStyle;
    transition: transform .5s, visibility .5s, max-height .5s;
    overflow: hidden;
    transform: scaleY(0);
    visibility: hidden;
    padding-top: 10px;
    max-height: 0;

    @media screen and (max-width: 1439px) {
      padding-top: 20px;
    }
  }
}
