@import "../root.scss";

.directions {
  @include flex(column, center, center);
  padding-top: $paddingSectionVertical;

  &__title {
    @extend %mainTitleH2;
    @extend %zeroSpaces;
  }

  @media screen and (max-width: 1439px) {
    padding-top: $paddingSectionVerticalTablet;
  }

  @media screen and (max-width: 767px) {
    padding-top: $paddingSectionVerticalMobile;
  }
}
