.donations {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  grid-template-columns: 691px minmax(30px, 117px) 488px minmax(0px, 64px);
  grid-template-rows: max-content 1fr; 
  row-gap: $marginTitleContent; 
  padding: $paddingSectionVertical $paddingSectionHorizontal;
  background-color: $lightBlue;

  @media screen and (max-width: 1319px) {
    grid-template-columns: 691px 30px 488px;
  }

  @media screen and (max-width: 1289px) {
    justify-items: center;
    grid-template-columns: minmax(300px, 1208px);
    grid-template-rows: max-content 1fr 578px;
    row-gap: 24px;
  }

  @media screen and (max-width: 1024px) {
    padding: 45px $paddingSectionHorizontal 55px;
  }

  @media screen and (max-width: 767px) {
    grid-template-rows: max-content 1fr 369px;
  }

  @media screen and (max-width: 425px) {
    padding: 33px $paddingSectionHorizontalMobile $paddingSectionVerticalMobile;
  }

  &__title {
    @extend %zeroSpaces;
    @extend %mainTitleH2;
    grid-column: 1 / span 4;

    @media screen and (max-width: 1319px) {
      grid-column: 1 / span 3;
    }

    @media screen and (max-width: 1289px) {
      grid-column: 1;
    }
  }
}

%fieldsetSizes {
  box-sizing: border-box;
  width: 100%;
}