.donations {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  grid-template-columns: 691px minmax(30px, 117px) 488px minmax(0px, 64px);
  grid-template-rows: max-content 1fr; 
  row-gap: $marginTitleContent; 
  padding: $paddingSectionVertical $paddingSectionHorizontal;
  background-color: $lightBlue;

  @media screen and (max-width: 1319px) {
    grid-template-columns: 691px 30px 488px;
  }

  @media screen and (max-width: 1289px) {
    justify-items: center;
    grid-template-columns: minmax(300px, 1208px);
    grid-template-rows: max-content 1fr 1fr;
    row-gap: calc($marginTitleContentTablet - 8px);
  }

  @media screen and (max-width: 1024px) {
    padding: calc($paddingSectionVerticalTablet - 5px) $paddingSectionHorizontal calc($paddingSectionVerticalTablet + 5px);
  }

  @media screen and (max-width: 425px) {
    padding: calc($paddingSectionVerticalMobile - 1px) $paddingSectionHorizontalMobile $paddingSectionVerticalMobile;
  }

  &__title {
    @extend %zeroSpaces;
    @extend %mainTitleH2;
    grid-column: 1 / span 4;

    @media screen and (max-width: 1319px) {
      grid-column: 1 / span 3;
    }

    @media screen and (max-width: 1289px) {
      grid-column: 1;
    }
  }

  &__form {
    box-sizing: border-box;
    max-width: 651px;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $backgroundColor;
    padding: $paddingInCard 23px $paddingInCard 17px;

    @media screen and (max-width: 1439px) {
      padding: $paddingInCard;
      max-width: 688px;
    }

    @media screen and (max-width: 767px) {
      padding: calc($paddingInCardMobile + 8px) 20px;
      border-radius: $borderRadiusMobile;
    }
  }

  &__explonation {
    box-sizing: border-box;
    position: absolute;
    top: -100px;
    left: 230px;
    width: 647px;
    height: 62px;
    padding: 18px 15.5px;
    background-color: #ffffff;
    border-radius: 4px 4px 4px 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility .1s, opacity .1s ease-out;

    @media screen and (max-width: 1289px) {
      top: -94px;
      left: 0;
      height: 56px;
      max-width: 647px;
      width: 100%;
    }

    @media screen and (max-width: 582px) {
      top: -108px;
      height: 70px;
    }

    &-text {
      @extend %zeroSpaces;
      @extend %mainTextStyle;
    }

    &_opened {
      visibility: visible;
      opacity: 1;
    }
  }

  &__number {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    position: relative;
    @extend %fieldsetSizes;
    border: none;
    margin: 0 0 23px;
    padding: 0;

    @media screen and (max-width: 1439px) {
      margin-bottom: 32px;
      column-gap: 16px;
    }
  }

  &__sum {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 48px) 1fr;
    gap: 12px 5px;
    @extend %fieldsetSizes;
    border: none;
    border-top: 1px solid $borderColor;
    margin: 0 0 24px;
    padding: 0;

    .donations__input {
      grid-column: 2 / span 3;
      visibility: hidden;
      opacity: 0;
      transition: visibility .2s, opacity .2s ease-out;
      max-width: none;

      &_opened {
        visibility: visible;
        opacity: 1;
      }

      @media screen and (max-width: 767px) {
        position: absolute;
        top: 120px;
      }
    }

    @media screen and (max-width: 1439px) {
      margin-bottom: 14px;
      gap: 16px;
      grid-template-rows: repeat(2, 44px) 1fr;
    }
  
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 44px) 1fr;

      .donations__button-label {
        &:nth-last-of-type(n) {
          grid-column: 1;
        }
        
        &:nth-of-type(2n) {
          grid-column: 2;
        }

        &:nth-of-type(5) {
          grid-column: span 2;
        }
      }

      .donations__input {
        grid-column: 1 / span 2;
      }

      .donations__text {
        grid-column: span 2;
        grid-row: 4;
      }
    }

    .donations__form-title {
      margin: 0 auto 16px;

      @media screen and (max-width: 1439px) {
        margin-bottom: 24px;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }

  &__payment {
    display: flex;
    align-items: center;
    column-gap: 8px;
    @extend %fieldsetSizes;
    border: none;
    border-top: 1px solid $borderColor;
    margin: 0 0 41px;
    padding: 0 0 0 29px;

    @media screen and (max-width: 1439px) {
      margin-bottom: 48px;
      column-gap: 16px;
      padding: 0;
    }
  
    @media screen and (max-width: 767px) {
      margin-bottom: 24px;
      flex-direction: column;
      column-gap: 0;
      row-gap: 6px;
    }

    .donations__form-title {
      margin: 0 auto 16px;
      
      @media screen and (max-width: 1439px) {
        margin-bottom: 24px;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 16px;
      }
    }

    .donations__button-label:nth-of-type(1) {
      padding: 11px 0;

      @media screen and (max-width: 767px) {
        padding: 9px 0;
      }
    }

    .donations__button-label:nth-of-type(2) {
      margin: 0 10px;
      padding: 17px 0;

      @media screen and (max-width: 1439px) {
        margin: 0;
      }

      @media screen and (max-width: 767px) {
        margin: 10px 0;
        padding: 15px 0;
      }
    }

    .donations__button-label:nth-of-type(3) {
      padding: 16px 0;

      @media screen and (max-width: 767px) {
        padding: 14px 0;
      }
    }

    .donations__button-label{
      @media screen and (max-width: 1439px) {
        max-height: 48px;
      }

      @media screen and (max-width: 767px) {
        max-height: 44px;
      }
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @extend %fieldsetSizes;
    border: none;
    border-top: 1px solid $borderColor;
    padding: 0;
    margin: 0 0 24px;

    @media screen and (max-width: 1439px) {
      margin-bottom: 24px;
      row-gap: 16px;
    }
  
    @media screen and (max-width: 767px) {
      margin-bottom: 24px;
    }

    .donations__form-title {
      margin: 0 auto 28px;

      @media screen and (max-width: 1439px) {
        margin-bottom: 24px;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 25px;
      }
    }
  }

  &__form-title {
    @include raleway;
    font: {
      weight: $bold;
      size: 24px;
    }

    @media screen and (max-width: 1439px) {
      font-size: 20px;
    }
  
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__button {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + &-label {
      border-color: #0C4BA0;
    }

    &-label {
      box-sizing: border-box;
      max-height: 48px;
      @extend %buttonTextStyle;
      display: inline-flex;
      column-gap: 10px;
      cursor: pointer;
      padding: 12px 0;
      justify-content: center;
      align-items: center;  
      border: 1px solid #DADADA;
      border-radius: 10px;
      width: 100%;

      &:hover {
        border-color: #00275C;
      }

      @media screen and (max-width: 1439px) {
        max-height: 44px;
        padding: 12.5px 0;
      }

      @media screen and (max-width: 767px) {
        padding: 13.5px 0;
      }
    }
  }

  &__text {
    @extend %smallTextStyle;
    @extend %zeroSpaces;
    margin-top: 4px;
    grid-column: 1 / span 4;
    grid-row: 3;

    @media screen and (max-width: 1439px) {
      margin-top: 3px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 0;
    }
  }

  &__next {
    border: none;
    @extend %zeroSpaces;
    min-width: 20px;
    height: 20px;
    background-image: url("../icons/next-payment.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;

    @media screen and (max-width: 767px) {
      transform: rotate(90deg)
    }
  }

  &__input {
    font-family: $fontFamily;
    line-height: 130%;
    font: {
      weight: $regular;
      size: 20px;
    }

    box-sizing: border-box;
    outline: none;
    border: 1px solid #DADADA;
    border-radius: 10px;
    padding: 11px 20px;
    max-width: 455px;
    width: 100%;
    max-height: 48px;
    display: block;

    @media screen and (max-width: 1439px) {
      font-size: 14px;
      line-height: 120%;
      padding: 13.5px 20px;
      max-height: 44px;
    }

    &:focus {
      outline: 1px solid #333333;
    }

    &:nth-of-type(2) {
      margin-bottom: 8px;
    }
  }

  &__agree {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &-checkbox {
      display: flex;
      column-gap: 8px;
      align-items: center;
      
      &:nth-of-type(2) {
        margin-top: -2px;

        @media screen and (max-width: 767px) {
          margin-top: -4px;
        }
      }
    }

    &:checked + &-label {
      background-color: #DADADA;
      background-image: url("../icons/check.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    &-label {
      box-sizing: border-box;
      display: inline-block;
      min-width: 25px;
      height: 25px;
      background-color: transparent;
      border: 1px #DADADA solid;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: #DADADA;
      }
    }

    &-text {
      @extend %zeroSpaces;
      font-family: $fontFamily;
      line-height: 130%;
      font: {
        weight: $regular;
        size: 20px;
      }

      @media screen and (max-width: 1439px) {
        font: {
          weight: $medium;
          size: 12px;
        }
        line-height: 120%;
      }

      &_color_blue {
        color: $blue;
      }
    }
  }

  //-------------//

  &__history {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 3;

    @media screen and (max-width: 1289px) {
      max-width: 531px;
      padding-top: 26px;
      grid-column: 1;
    }

    @media screen and (max-width: 425px) {
      padding-top: 8px;
    }
  }

  &__donate-sum {
    white-space: pre-line;
  }
}

%fieldsetSizes {
  box-sizing: border-box;
  width: 100%;
}