@import "../root.scss";

.works {
  @include flex(column, center, center);
  align-self: stretch;
  padding: $paddingSectionVertical 0;
  background-color: $lightGrey;
  &__title {
    @extend %mainTitleH2;
    @extend %zeroSpaces;
  }
  @media screen and (max-width: 1439px) {
    padding: $paddingSectionVerticalTablet 0;
  }
  @media screen and (max-width: 767px) {
    padding: $paddingSectionVerticalMobile 0;
  }
}
