.digits {
  padding: $marginBlocks $paddingSectionHorizontal 0;

  &__container {
    box-sizing: border-box;
    margin-top: $marginTitleContent;
    @include flex(row, center, center);
    gap: 135px;
  }

  &__header {
    @extend %mainTitleH2;
  }

  &__image-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    flex: 1;
  }

  &__image {
    width: 100%;
  }

  &__item-grid {
    width: 100%;
    min-width: 670px;
    flex: 0;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 30px;
  }

  &__item-header {
    @extend %mainTitleH4;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    color: $fontColor;
  }

  &__item-header_bold {
    color: $blue;
  }

  &__item-text {
    @extend %mainTextStyle;
  }
}

@media screen and (max-width: 1439px) {
  .digits {
    padding: 100px 40px 0;

    &__container {
      gap: 0px;
      margin-top: 32px;
    }

    &__image {
      display: none;
    }

    &__item-grid {
      flex: auto;
    }
  }
}

@media screen and (max-width: 767px){
  .digits {
    padding: 64px 15px 0;

    &__container {
      margin-top: 24px;
      gap: 0px;
      flex-direction: column;
      flex-flow: column-reverse;
    }

    &__image {
      display: block;
    }

    &__item-grid {
      flex: auto;
      grid-template-columns: auto;
      row-gap: 16px;
      margin-bottom: 24px;
    }

    &__item-grid {
      min-width: unset;
    }
  }
}
