.accordion-container {
  margin: 0;
  padding-top: $marginTitleContent;
  padding-left: 0;
  @include flex(row, center, flex-start);
  gap: 20px 20px;
  list-style-type: none;
  flex-wrap: wrap;

  @media screen and (max-width: 1439px) {
    gap: 20px 0;
    padding-top: $marginTitleContentTablet;
  }

  @media screen and (max-width: 767px) {
    gap: 16px 0;
    padding-top: $marginTitleContentMobile;
  }
}
