@import "../root.scss";

.card {
  padding: 30px;
  border-radius: 30px;
  color: $darkGrey;
  @media screen and (max-width: 1439px) {
    border-radius: 20px;
  }
  @media screen and (max-width: 767px) {
    padding: 24px;
  }
}
