.card {
  padding: 30px;
  border-radius: 30px;

  &__item {
    &-topic {
      @extend %smallTextStyle;
    }

    &-info-container {
      flex: 1;
    }

    &-title {
      @extend %mainTitleH3;
      padding-bottom: 20px;
    }

    &-text {
      @extend %mainParagraphStyle;
    }

    &-date {
      @extend %smallTextStyle;
      color: $grey;
      opacity: 0.5;
    }

    &-image-container {
      box-sizing: border-box;
      width: 100%;
    }

    &-image {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 380px;
      object-fit: contain;
      border-radius: 30px;
    }
  }
}

@media screen and (max-width: 1439px) {
  .card {
    border-radius: 20px;

    &__item {
      &-title {
        padding-bottom: 10px;
      }

      &-image {
        border-radius: 20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .card {
    padding: 24px;

    &__item-image {
      border-radius: 20px;
    }
  }
}
