.donations__agree {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &-checkbox {
    @include flex(row, flex-start, center);
    column-gap: 8px;
    
    &:nth-of-type(2) {
      margin-top: -2px;

      @media screen and (max-width: 767px) {
        margin-top: -4px;
      }
    }
  }

  &:checked + &-label {
    background: $borderColor url("../icons/donations/check.svg") center no-repeat;
  }

  &-label {
    box-sizing: border-box;
    display: inline-block;
    min-width: 25px;
    height: 25px;
    background-color: transparent;
    border: 1px $borderColor solid;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: $borderColor;
    }
  }

  &-text {
    @extend %zeroSpaces;
    font-family: $fontFamily;
    line-height: 130%;
    font: {
      weight: $regular;
      size: 20px;
    }

    @media screen and (max-width: 1439px) {
      font: {
        weight: $medium;
        size: 12px;
      }
      line-height: 120%;
    }

    &_color_blue {
      color: $blue;
      text-decoration: none;
    }
  }
}