.donations__donate {
  display: flex;
  @extend %mainParagraphStyle;
  
  &:nth-last-child(1) {
    margin: 0;
  }

  &-name {
    @extend %zeroSpaces;
  }

  &-dots {
    display: inline-block;
    width: 152px;
    border-bottom: 1px $darkGrey dotted;
    margin-left: $marginTextIconButton;

    @media screen and (max-width: 1439px) {
      width: 164px;
    }

    @media screen and (max-width: 767px) {
      width: 141px;
    }
  }

  &-sum {
    @extend %zeroSpaces;
    margin-left: $marginTextIconButton;
  }

  &-time {
    display: block;
    margin-top: 5px;
  }
}