.logo {
  display: block;
  background: url("../images/shared/logo.svg") 0 0/contain no-repeat;

  &_header {
    height: 30px;
    width: 180px;
  }

  &_footer {
    height: 46px;
    width: 265px;
  }
}

// Tablet + mobile
@media screen and (max-width: 1439px) {
  .logo {
    &_header {
      height: 24px;
      width: 140px;
    }

  &_footer {
      height: 24px;
      width: 140px;
    }
  }
}

// Mobile
@media screen and (max-width: 767px) {

}
