.burger-popup {
  max-width: 1440px;
  position: fixed;
  top: 0;
  left: calc(50% - 720px);
  z-index: 2;
  background-color:#fff;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  padding-top: 120px;
  box-shadow: 2px 2px 30px 0 $darkGrey;
  translate: 0 -150%;
  transition: translate 0.5s ease-in-out;
  @media screen and (max-width: 1439px) {
    max-width: 768px;
    right: 0;
    left: unset;
    padding-top: 112px;
  }
  @media screen and (max-width: 767px) {
    padding: 10px;
    padding-top: 72px;
    max-width: 320px;
  }
  &_opened {
    translate: 0;
  }
  &__container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 325px);
    column-gap: 20px;
    >.accordion:nth-of-type(1) {
      padding: 0;
    }
    @media screen and (max-width: 1439px) {
      grid-template-columns: repeat(3, 216px);
      row-gap: 64px;
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(1, 300px);
      grid-template-rows: repeat(4, minmax(min-content, max-content));
      row-gap: 20px;
    }
  }
  &__accordion {
    border: 0;
    display: grid;
    row-gap: 30px;
    padding: 0;
    border-radius: 0;
    @media screen and (max-width: 1439px) {
      row-gap: 24px;
    }
    @media screen and (max-width: 767px) {
      row-gap: 0;
      grid-template-columns: repeat(2, minmax(min-content, max-content));
    }
  }
  &__grid {
    row-gap: 26px;
    @media screen and (max-width: 1439px) {
      justify-content: start;
      row-gap: 24px;
      column-gap: 78px;
      grid-template-columns: repeat(2, 158px);
      grid-column: 1 / span 2;
      .burger-popup__title:nth-of-type(2n) {
        order: 1;
      }
    }
    // grid-template-areas: 
    // "accordionTitle accordionTitle"
    // "accordionText accordionText";
    @media screen and (max-width: 767px) {
      grid-template-columns: 300px;
      grid-column: 1 / span 1;
      row-gap: 20px;
      // grid-template-areas: 
      // "accordionTitle accordionButton"
      // "accordionText accordionText";
      .burger-popup__title:nth-of-type(2n) {
        order: 0;
      }
    }
  }
  &__title {
    @extend %textLinkStyle;
    @include raleway;

    font: {
      weight: $bold;
      size: 34px;
    }

    @media screen and (max-width: 1439px) {
      font-size: 20px;
    }

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
    // grid-area: accordionTitle;
  }
  &__button {
    display: none;
    // grid-area: accordionButton;
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/arrowBurgerMenu.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 0;
    justify-self: flex-end;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    @media screen and (max-width: 767px) {
      display: block;
    }
    &_direction_up {
      transform: scale(1, -1);
    }
  }
  &__text {
    // grid-area: accordionText;
    position: relative;
    z-index: 2;
    visibility: visible;
    overflow: visible;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    @media screen and (max-width: 1439px) {
      padding: 0;
      gap: 16px;
    }
    @media screen and (max-width: 767px) {
      padding: 0;
      gap: 10px;
      max-height: 0;
    }
  }
  &__link {
    @extend %textLinkStyle;
    @extend %mainParagraphStyle;
    cursor: pointer;
    @media screen and (max-width: 1439px) {
      max-width: 185px;
    }
  }
}