@import "../cards-container/cards-container.scss";
@import "../root.scss";

.histories {
  display: grid;
  padding: 150px 40px 100px;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  list-style-type: none;
  grid-template-areas: 
  "title button"
  "cardsContainerHistories cardsContainerHistories";
  @media screen and (max-width: 1439px) {
    grid-template-areas: 
    "title title"
    "cardsContainerHistories cardsContainerHistories"
    "button button";
    padding: 100px 40px 50px;
  }
  @media screen and (max-width: 767px) {
    padding: 64px 10px 32px;
  }
  &__title {
    grid-area: title;
    @extend %mainTitleH2;
    margin: 0;
    padding: 0;
    @media screen and (max-width: 767px) {
      margin-bottom: 24px;
    }
  }
  &__button {
    grid-area: button;
    width: fit-content;
    justify-self: end;
    @media screen and (max-width: 1439px) {
      justify-self: center;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &__image {
    border-radius: 50%;
    width: 224px;
    height: 224px;
    @media screen and (max-width: 1439px) {
      width: 204px;
      height: 204px;
    }
    @media screen and (max-width: 767px) {
      width: 80px;
      height: 80px;
    }
  }
  &__image-last {
    @media screen and (max-width: 1439px) {
      width: 120px;
      height: 120px;
    }
    @media screen and (max-width: 767px) {
      width: 80px;
      height: 80px;
    }
  }
  &__text-container {
    display: grid;
    grid-template-areas: 
    "quote titleLong"
    ". subtitleLong"
    ". cardButton";
    gap: 20px;
    @media screen and (max-width: 1439px) {
      grid-template-areas: 
      "quote quote"
      "titleLong titleLong"
      "subtitleLong subtitleLong"
      "cardButton cardButton";
      gap: 0;
    }
  }
  &__icon {
    background-image: url('../icons/Icon_quote.svg');
    width: 60px;
    height: 60px;
    grid-area: quote;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px 27.5px;
    @media screen and (max-width: 1439px) {
      width: 28px;
      height: 28px;
      background-size: 28px 20px;
      margin-bottom: 8px;
    }
    @media screen and (max-width: 767px) {
      width: 24px;
      height: 24px;
      background-size: 24px 17px;
      margin-bottom: 10px;
    }
  }
  &__card-title-long {
    grid-area: titleLong;
    margin: 0;
    @extend %mainTitleH3;
  }
  &__card-subtitle-long {
    grid-area: subtitleLong;
    margin: 0;
    @extend %mainTextStyle;
    @media screen and (max-width: 1439px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 16px;
    }
  }
  &__card-button {
    grid-area: cardButton;
    margin: 0;
    width: fit-content;
    @media screen and (max-width: 1439px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 767px) {
      margin-top: 16px;
    }
  }
  &__short-stories {
    @include flex(row, flex-start, flex-start);
    width: 100%;
    background-color: $lightPurple;
    gap: 20px;
  }
  &__text-article {
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 20px;
  }
  &__name-link {
    @include flex(row, flex-start, center);
  }
  &__card-subtitle-short {
    @extend %bigTextStyle;
    @extend %zeroSpaces;
  }
  &__card-title-short {
    @extend %mainTitleH4;
  }
}