.menu {
  box-sizing: border-box;
  padding: 0px 42px 0px;
  height: 50px;
}

.menu__container {
  @include flex(row, space-between, center);
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  gap: 35px;
  list-style-type: none

}

.menu__item {
  margin: 0;
  padding: 0;
  display: block;
}

.menu__link {
  @extend %bigTextStyle;
  text-decoration: none;
  color: #000;
}

.menu__link:hover {
  text-decoration: underline;
  color: #000;
}

.menu__link:visited {
  text-decoration: none;
}

@media screen and (max-width: 1439px) {
  .menu {
    display: none;
  }
}
