// UI Kit --- кнопки для аккордионов
/*
 Использование:
      <button class="button button_type_accordion"></button>
   Для того что бы сделать кнопку нажатой добавить класс button_pressed:
      <button class="button button_type_accordion button_pressed"></button>
   Для дективации добавить к кнопке сласс button_disabled:
      <button class="button button_type_accordion" disabled></button>
 */

$uikit-btn-accordion-plusColor: rgb(12, 75, 160);
$uikit-btn-accordion-plusColor-alt: rgb(255, 255, 255);
$uikit-btn-accordion-plusColor-disabled: rgba(38, 38, 38, 0.5);

@mixin plus($color) {
  background-image: url('data:image/svg+xml;utf8,<svg stroke="#{$color}" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.5 19V10.5M10.5 10.5V2M10.5 10.5H19M10.5 10.5H2" stroke-width="4" stroke-linecap="round"/></svg>');
}

@mixin addPlus($rotate:false, $plusColor:rgb(255,255,255)){
  &:after {
    content: '';
    @include plus($plusColor);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    height: 17px;
    width: 17px;
    @media screen and (max-width: 1439px) {
      height: 12px;
      width: 12px;
    }
    @if $rotate {
       transform: rotate(45deg);
    }
  }
}

.button_type_accordion {
  background-color: #E7F0FF;
  border: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  @include addPlus(false, $uikit-btn-accordion-plusColor);
  &:hover {
    background-color: #0C4BA0;
    @include addPlus();
  }
  &.button_pressed {
    background-color: #0C4BA0;
    @include addPlus(true);
  }
  &.button_disabled {
    background-color: #C4C4C4;
    @include addPlus(false, $uikit-btn-accordion-plusColor-disabled);
  }
  @media screen and (max-width: 1439px) {
    height: 32px;
    width: 32px;
  }
}

