// UI Kit --- кнопки для слайдеров
/*
 Использование:
  Тип1 (слева на макете UI Kit):
    Стрелка влево:
      <button class="button button_type_slider-1-left"></button>
    Стрелка вправо:
      <button class="button button_type_slider-1-right"></button>
  Тип2 (справа на макете UI Kit):
    Стрелка влево:
      <button class="button button_type_slider-2-left"></button>
    Стрелка вправо:
      <button class="button button_type_slider-2-right"></button>
   Для того что бы сделать кнопку нажатой добавить класс button_pressed:
      <a href="#" class="button button_type_link button_color_white button_pressed">Default</a>
   Для дективации добавить к кнопке сласс button_disabled:
      <a href="#" class="button button_type_link button_color_white button_disabled">Default</a>
 */
@import "../button";

$uikitBtnSlider1DefaultBgcolor: $blue; //#0C4BA0;
$uikitBtnSlider1HoverBgcolor: $buttonHoverColor; //#4183DC;
$uikitBtnSlider1PressedBgcolor: $bluePressed; //#00275C;

$uikitBtnSlider2DefaultBgcolor: $darkGrey; //#333333;
$uikitBtnSlider2HoverBgcolor: $blue; //#0C4BA0;
$uikitBtnSlider2PressedBgcolor: $bluePressed; //#00275C;

$uikitBtnSliderDisabledBgcolor: $buttonDisabledHardColor; //#C4C4C4;
$uikitBtnSliderDisabledArrowColor: rgba(38, 38, 38, 0.5);
$uikitBtnSliderArrowColor: rgb(255, 255, 255);

@mixin addArrow($arrowColor:$uikitBtnSliderArrowColor) {
  &:after {
    content: ' ';
    @include arrow($arrowColor);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    height: 17px;
    width: 17px;
    @media screen and (max-width: 1439px) {
      height: 10px;
      width: 10px;
    }
  }
}

@mixin sliderBtn($bgColor,$hoverColor, $pressedColor, $left: false) {
  background-color: $bgColor;
  border-radius: 10px;
  border: 0;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include addArrow;
  @media screen and (max-width: 1439px) {
    border-radius: 6px;
    height: 24px;
    width: 24px;
  }
  &:hover {
    background-color: $hoverColor;
  }
  &.button_disabled {
    @include addArrow($uikitBtnSliderDisabledArrowColor);
    background-color: $uikitBtnSliderDisabledBgcolor;
  }
  &.button_pressed {
    background-color: $pressedColor;
  }
  @if $left {
    transform: rotate(180deg);
  }
}

.button_type_slider {
  &-1 {
    &-left {
      @include sliderBtn($uikitBtnSlider1DefaultBgcolor, $uikitBtnSlider1HoverBgcolor,
        $uikitBtnSlider1PressedBgcolor, true);
    }
    &-right {
      @include sliderBtn($uikitBtnSlider1DefaultBgcolor, $uikitBtnSlider1HoverBgcolor,
        $uikitBtnSlider1PressedBgcolor);
    }
  }
  &-2 {
    &-left {
      @include sliderBtn($uikitBtnSlider2DefaultBgcolor, $uikitBtnSlider2HoverBgcolor,
        $uikitBtnSlider2PressedBgcolor, true);
    }
    &-right {
      @include sliderBtn($uikitBtnSlider2DefaultBgcolor, $uikitBtnSlider2HoverBgcolor,
        $uikitBtnSlider2PressedBgcolor);
    }
  }
}





