@import "./button_type_basic";

// primary
$uikit-btn-primary-default-bgcolor: $blue; //#0C4BA0;
$uikit-btn-primary-default-brcolor: $blue; //#0C4BA0;
$uikit-btn-primary-default-txtcolor: $backgroundColor; //#FFFFFF;

$uikit-btn-primary-hover-bgcolor: $buttonHoverColor; //#4183DC;
$uikit-btn-primary-hover-brcolor: $buttonHoverColor; //#4183DC;
$uikit-btn-primary-hover-txtcolor: $backgroundColor; //#FFFFFF;

$uikit-btn-primary-pressed-bgcolor: $bluePressed; //#00275C;
$uikit-btn-primary-pressed-brcolor: $bluePressed; //#00275C;
$uikit-btn-primary-pressed-txtcolor: $backgroundColor; //#FFFFFF;

.button_type_primary {
  @extend %button_type_basic;
  @include btn-basic($uikit-btn-primary-default-bgcolor, $uikit-btn-primary-default-txtcolor,
    2px, $uikit-btn-primary-default-brcolor);

  &:hover {
    @include btn-basic($uikit-btn-primary-hover-bgcolor, $uikit-btn-primary-hover-txtcolor,
      2px, $uikit-btn-primary-hover-brcolor);
  }

  &:disabled, &.disabled {
    @include button_disabled;
  }

  &.button_pressed {
    @include btn-basic($uikit-btn-primary-pressed-bgcolor, $uikit-btn-primary-pressed-txtcolor,
      2px, $uikit-btn-primary-pressed-brcolor);
  }
}
