// UI Kit --- кнопки для слайдеров
/*
 Использование:
  Тип1 (слева на макете UI Kit):
    Стрелка влево:
      <button class="button button_type_slider-1-left"></button>
    Стрелка вправо:
      <button class="button button_type_slider-1-right"></button>
  Тип2 (справа на макете UI Kit):
    Стрелка влево:
      <button class="button button_type_slider-2-left"></button>
    Стрелка вправо:
      <button class="button button_type_slider-2-right"></button>
   Для того что бы сделать кнопку нажатой добавить класс button_pressed:
      <a href="#" class="button button_type_link button_color_white button_pressed">Default</a>
   Для дективации добавить к кнопке сласс button_disabled:
      <a href="#" class="button button_type_link button_color_white button_disabled">Default</a>
 */

@use "sass:map";
@import "../button";

$uikit-btn-slider1-default-bgcolor: $blue; //#0C4BA0;
$uikit-btn-slider1-hover-bgcolor: $buttonHoverColor; //#4183DC;
$uikit-btn-slider1-pressed-bgcolor: $bluePressed; //#00275C;

$uikit-btn-slider2-default-bgcolor: $darkGrey; //#333333;
$uikit-btn-slider2-hover-bgcolor: $blue; //#0C4BA0;
$uikit-btn-slider2-pressed-bgcolor: $bluePressed; //#00275C;

$uikit-btn-slider-disabled-bgcolor: #C4C4C4;
$uikit-btn-slider-disabled-arrowColor: rgba(38, 38, 38, 0.5);
$uikit-btn-slider-arrowColor: rgb(255, 255, 255);

$uikit-btn-slider-arrows-size: (
  "mobile": 10px,
  "desktop": 17px,
);

$uikit-btn-slider-size: (
  "mobile": 24px,
  "desktop": 35px,
);

$uikit-btn-slider-border-radius: (
  "mobile": 6px,
  "desktop": 10px,
);

@mixin addArrow($env,$arrowColor:$uikit-btn-slider-arrowColor) {
  &:after {
    content: ' ';
    @include arrow($arrowColor);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    height: map.get($uikit-btn-slider-arrows-size, $env);
    width: map.get($uikit-btn-slider-arrows-size, $env);
  }
}

@mixin sliderBtn($bgColor,$hoverColor, $pressedColor, $env, $left: false) {
  background-color: $bgColor;
  border-radius: map.get($uikit-btn-slider-border-radius, $env);
  border: 0;
  height: map.get($uikit-btn-slider-size, $env);
  width: map.get($uikit-btn-slider-size, $env);
  display: flex;
  justify-content: center;
  align-items: center;
  @include addArrow($env);

  &:hover {
    background-color: $hoverColor;
  }
  &:disabled, &.button_disabled {
    @include addArrow($env, $uikit-btn-slider-disabled-arrowColor);
    background-color: $uikit-btn-slider-disabled-bgcolor;
  }
  &.button_pressed {
    background-color: $pressedColor;
  }
  @if $left {
    transform: rotate(180deg);
  }
}

@mixin button_type_slider_mixin($env) {
  .button_type_slider {
    &-1 {
      &-left {
        @include sliderBtn($uikit-btn-slider1-default-bgcolor, $uikit-btn-slider1-hover-bgcolor,
          $uikit-btn-slider1-pressed-bgcolor, $env, true);
      }
      &-right {
        @include sliderBtn($uikit-btn-slider1-default-bgcolor, $uikit-btn-slider1-hover-bgcolor,
          $uikit-btn-slider1-pressed-bgcolor, $env, false);
      }
    }
    &-2 {
      &-left {
        @include sliderBtn($uikit-btn-slider2-default-bgcolor, $uikit-btn-slider2-hover-bgcolor,
          $uikit-btn-slider2-pressed-bgcolor, $env, true);
      }
      &-right {
        @include sliderBtn($uikit-btn-slider2-default-bgcolor, $uikit-btn-slider2-hover-bgcolor,
          $uikit-btn-slider2-pressed-bgcolor, $env, false);
      }
    }
  }
}

@include button_type_slider_mixin("desktop");
@media screen and (max-width: 1039px) {
  @include button_type_slider_mixin("mobile");
}

