@import "./button_type_basic";

// secondary
$uikit-btn-secondary-default-bgcolor: $backgroundColor; //#FFF;
$uikit-btn-secondary-default-brcolor: $blue; //#0C4BA0;
$uikit-btn-secondary-default-txtcolor: $blue; //#0C4BA0;

$uikit-btn-secondary-hover-bgcolor: $backgroundColor; //#FFF;
$uikit-btn-secondary-hover-brcolor: $bluePressed; //#00275C;
$uikit-btn-secondary-hover-txtcolor: $bluePressed; //#00275C;

$uikit-btn-secondary-pressed-bgcolor: $bluePressed; //#00275C;
$uikit-btn-secondary-pressed-brcolor: $bluePressed; //#00275C;
$uikit-btn-secondary-pressed-txtcolor: $backgroundColor; //#FFFFFF;

.button_type_secondary {
  @extend %button_type_basic;
  @include btn-basic($uikit-btn-secondary-default-bgcolor, $uikit-btn-secondary-default-txtcolor,
    1px, $uikit-btn-secondary-default-brcolor);
  &:hover {
    @include btn-basic($uikit-btn-secondary-hover-bgcolor, $uikit-btn-secondary-hover-txtcolor,
      1px, $uikit-btn-secondary-hover-brcolor);
  }
  &:disabled, &.disabled {
    @include button_disabled;
  }
  &.button_pressed {
    @include btn-basic($uikit-btn-secondary-pressed-bgcolor, $uikit-btn-secondary-pressed-txtcolor,
      1px, $uikit-btn-secondary-pressed-brcolor);
  }
}
