@import "./button_type_basic";

// secondary-transparent
$uikitBtnSecondaryTransDefaultBgColor: rgba(0,0,0,0);
$uikitBtnSecondaryTransDefaultBrColor: $darkGrey; //#333333;
$uikitBtnSecondaryTransDefaultTxtColor: $darkGrey; //#333333;

$uikitBtnSecondaryTransHoverBgColor: rgba(0,0,0,0);
$uikitBtnSecondaryTransHoverBrColor: $darkGrey; //#333333;
$uikitBtnSecondaryTransHoverTxtColor: $darkGrey; //#333333;

$uikitBtnSecondaryTransPressedBgColor: $darkGrey; //#333333;
$uikitBtnSecondaryTransPressedBrColor: $darkGrey; //#333333;
$uikitBtnSecondaryTransPressedTxtColor: $backgroundColor; //#FFFFFF;

.button_type_secondary-transparent {
 @include button_type_basic;
  @include btn-basic($uikitBtnSecondaryTransDefaultBgColor, $uikitBtnSecondaryTransDefaultTxtColor,
    1px, $uikitBtnSecondaryTransDefaultBrColor);
  &:hover {
    @include btn-basic($uikitBtnSecondaryTransHoverBgColor, $uikitBtnSecondaryTransHoverTxtColor,
      2px, $uikitBtnSecondaryTransHoverBrColor);
  }
  &.button_disabled {
    @include button_disabled;
  }
  &.button_pressed {
    @include btn-basic($uikitBtnSecondaryTransPressedBgColor, $uikitBtnSecondaryTransPressedTxtColor,
      0px, $uikitBtnSecondaryTransPressedBrColor);
  }
}
