@import "../root.scss";

.projects {
  max-width: 1440px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: $marginBlocks auto 0;
  padding: 0 $paddingSectionHorizontal;
  @media screen and (max-width: 1439px) {
    margin-top: $marginBlocksTablet;
  }
  @media screen and (max-width: 767px) {
    margin-top: $marginBlocksMobile;
    padding: 0 $paddingSectionHorizontalMobile;
  }
  &__container {
    position: relative;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  }
  &__absolute {
    position: absolute;
    width: min-content;
    z-index: 1;
    bottom: 30px;
    gap: 8px;
    left: calc(50% - 38px);
    @include flex(row, center, center);

    @media screen and (max-width: 1439px) {
      left: calc(50% - 28px);
    }

    @media screen and (max-width: 767px) {
      top: 24px;
      right: 24px;
      left: auto;
      bottom: auto;
    }
  }
}
