.card__text-container_type_about-person {
  display: grid;
  grid-template-rows: minmax(min-content, max-content) minmax(120px, 1fr) minmax(min-content, max-content);
  gap: 20px;

  @media screen and (max-width: 1439px) {
    grid-template-rows: minmax(min-content, max-content);
    gap: 6px;
  }
}