.header {
  box-sizing: border-box;
  margin: 0;
  @include flex(row, space-between, center);
  padding: 16px 40px 16px;
  background-color: $backgroundColor;

}

.header__logo {
  display: block;
  height: 30px;
  width: 180px;
  background-image: url("../images/Logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.header__menu-button {
  @include flex(row, space-between, center);
  border: none;
  background-color: $backgroundColor;
  padding: 0;
  gap: 12px;
}

.header__menu-button_image {
  height: 25px;
  width: 25px;
  background-image: url("../images/Opened_Menu_Button.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.header__menu-button_label {
  @extend %bigTextStyle;
  box-sizing: border-box;
  display: block;
}

.header__menu-button_image_active {
  background-image: url("../images/Closed_Menu_Button.svg");
}

.header__button-container {
  @include flex(row, space-between, center);
  box-sizing: border-box;
  gap: 16px;
}

.header__button {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 0;
  display: block;
  height: 48px;
  width: 180px;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 10px 15px 10px;
  }

  .header__menu-button_label {
    display: none;
  }

  .header__button-container {
    display: none;
  }

  .header__button {
    height: 34px;
    width: 134px;
  }

  .header__logo {
    height: 24px;
    width: 140px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header {
    padding: 18px 40px 18px;
    gap: 24px;
  }

  .header__menu-button {
    order: 99;
  }

  .header__logo {
    height: 24px;
    width: 140px;
  }

  .header__button {
    height: 34px;
    width: 134px;
  }

  .header__button-container {
    gap: 8px;
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}
