.accordion_state_open {
  padding: 20px;

  @media screen and (max-width: 1439px) {
    padding: 30px 20px;
  }

  @media screen and (max-width: 767px) {
    padding: 16px;
  }

  >.accordion__text {
    transform: scaleY(1);
    visibility: visible;
    // padding-top: 10px;

    // @media screen and (max-width: 1439px) {
    //   padding-top: 20px;
    // }
  }
}
